<div id="<%= dom_id notebook %>" class="card mb-4 shadow-sm">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-sm-4 fw-bold">Equipment Identifier:</div>
      <div class="col-sm-8"><%= notebook.equipment_identifier %></div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-4 fw-bold">Serial Number:</div>
      <div class="col-sm-8"><%= notebook.serial_number %></div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-4 fw-bold">Asset Number:</div>
      <div class="col-sm-8"><%= notebook.asset_number %></div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-4 fw-bold">Manufacture Date:</div>
      <div class="col-sm-8"><%= notebook.manufacture_date %></div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-4 fw-bold">Description:</div>
      <div class="col-sm-8"><%= notebook.description %></div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-4 fw-bold">Brand:</div>
      <div class="col-sm-8"><%= notebook.brand %></div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-4 fw-bold">Model:</div>
      <div class="col-sm-8"><%= notebook.model %></div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-4 fw-bold">Purchase Date:</div>
      <div class="col-sm-8"><%= notebook.purchase_date %></div>
    </div>
    <div class="row">
      <div class="col-sm-4 fw-bold">Status:</div>
      <div class="col-sm-8"><%= notebook.status %></div>
    </div>
  </div>
</div>
